.bjson-container{
    display: block;
    background-color: rgb(61, 61, 61);
    min-height: 170px;
    max-height: 400px;
    max-width: 500px;
    color: white;
    font-family: monospace;
    border-radius: 25px 0 0 25px;
    padding: 10px;
    overflow: auto;
}
.bjson-title{
    margin: -10px -10px 10px -10px;
    background-color: rgb(22, 22, 22);
    height: 30px;
    font-size: 20px;
    padding: 5px 0 0 10px;
    border-radius: 25px 0 0 0;
}

.bjson-btn{
    all:unset;
    border: 2px solid;
    border-radius: 7px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(61, 61, 61);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
